@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Thanks for visiting!</p>
</div>

<div class="container row justify-content-center p-5">
    <a asp-page="/Index" class="btn btn-warning w-25">Back</a>
</div>