@page "{name}"
@model MyApp.Namespace.InfoModel
@{
    ViewData["Title"] = "Info page";
}

<div class="text-center">
    <h1 class="display-4">@Model.CurrentGuitar.Name</h1>
    <p>Browse stock online for purchase in store!</p>
</div>
