@page
@model MyApp.Namespace.StockModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Stock</h1>
    <p>Browse stock online for purchase in store!</p>
</div>
